.phonebook-wrapper {
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  width: 90%;
}

.phonebook {
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 3px 40px -13px rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-height: calc(100vh - 100px);
  max-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 95%;

  &__header {
    align-items: center;
    background-color: #2e87d6;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
    width: 100%;

    .icon {
      color: white;
      font-size: 1.5em;
    }
  }

  &__add-contact-btn {
    appearance: none;
    border: none;
    background-color: rgba(255,255,255,0);
    border-radius: 100%;
    cursor: pointer;
    height: 45px;
    padding: 10px;
    transition: background-color .3s ease;
    width: 45px;

    &:hover {
      background-color: rgba(255,255,255,.1);
    }
  }

  &__contacts {
    overflow-y: auto;
    width: 100%;
  }

  &__title {
    color: #fff;
    font-size: 1.8em;
  }

  &.fade-enter {
    opacity: 0;
    top: 150px;
  }

  &.fade-enter-active {
    opacity: 1;
    top: 0px;
    transition: all 1s ease;
  }

  &.fade-exit-active {
    display:none;
  }
}

.contact {
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 0px 0px transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  transition: all .2s ease;
  width: 100%;

  @media (max-width: 470px) {
    flex-direction: column;
  }

  &:hover {
    border-bottom: 1px solid transparent;
    box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.6);
  }

  &:last-child {
    border-bottom: none;
  }

  p {
    align-items: center;
    color: #333;
    display: inline-flex;
    margin: 10px 0px;

    @media (max-width: 470px) {
      margin: 5px 0px;
    }

    .icon {
      color: #F18F01;
      font-size: 17px;
      margin-right: 10px;
      opacity: .6;
      width: 25px;
    }
  }

  &__name {
    font-size: 1em;
  }

  &__phone {
    font-size: .8em;

    span {
      color: #999;
    }
  }

  &__address {
    font-size: .8em;
    width: 100%;

    span {
      color: #999;
    }
  }

  &__options {
    background-color: rgba(255,255,255,.7);
    bottom: 15px;
    opacity: 0;
    position: absolute;
    right: 15px;
    transition: opacity .3s ease;

    span {
      cursor: pointer;
    }

    .icon {
      color: rgba(0,0,0,0.5);
      font-size: 20px;
    }
  }

  &:hover {
    .contact__options {
      opacity: 1;
    }
  }

  &__delete {
    margin-right: 15px;

    &:hover {
      .icon {
        color: red;
      }
    }
  }

  &__edit {
    &:hover{
      .icon {
        color: #2e87d6;
      }
    }
  }
}

.scroller {
  
  overflow: auto;
  position: relative;

  &__bar {
    background-color: transparent;
    height: 100%;
    position: absolute;
    right: 5px;
    top: 0px;
    width: 10px;
  }

  &__thumb {
    background-color: #93f4f3;
    border-radius: 10px;
    position: absolute;
    width: 4px;
    height: 12%;
    left: 4px;
    top: 4px;
  }
}

.no-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.add-contact {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: 0px;
  overflow: hidden;
  padding: 0px 20px;
  transition: height .3s ease;

  .form-field {
    flex-basis: 50%;
  }

  &__name {
    margin-top: 20px;
    padding-right: 5px;
  }

  &__number {
    margin-top: 20px;
    padding-left: 5px;
  }

  &__address {
    flex-basis: 100%!important;
    margin-top: 10px;
  }

  &__options {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;

    button {
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  &.open {
    height: 206px;
  }
}