@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');

* {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  margin: 0px;
  outline: none;
  padding: 0px;
  text-decoration: none;
}


.app {
  position: relative;
}

.form-wrapper {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 340px;
}

.form-field {
  position: relative;

  .icon {
    color: rgba(0,0,0,0.4);
    font-size: 18px;
    left: 14px;
    opacity: .8;
    position: absolute;
    top: calc(50% - 9px);
  }

  input {
    background-color: #eee;
    border: none;
    border-radius: 40px;
    color: #222;
    font-size: .9em;
    padding: 15px 20px;
    padding-left: 42px;
    transition: all .3s ease;
    width: 100%;

    &::placeholder {
      color: #aaa;
    }
  }
}

button {
  appearance: none;
  -webkit-appearance: none;
  background-color: #2e87d6;
  border: none;
  border-bottom: 2px solid darken(#2e87d6, 10%);
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 20px;
  transition: background-color .3s ease;

  &:hover {
    background-color: lighten(#2e87d6, 5%);
  }

  &:active {
    background-color: darken(#2e87d6, 5%);
  }

  &.full-width {
    width: 100%;
  }

  &.cancel {
    background-color: red;
    border-bottom: 2px solid darken(red, 10%);

    &:hover {
      background-color: lighten(red, 15%);
    }
  
    &:active {
      background-color: darken(red, 10%);
    }
  }

  .icon {
    margin-right: 5px;
  }
}