.credentials-form {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 3px 40px -13px rgba(0,0,0,0.9);
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-top: 80px;
  max-width: 340px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  &__header {
    background-color: #2e87d6;
    border-radius: 7px 7px 0px 0px;
    color: white;
    padding-bottom: 15px;
    padding-top: 50px;
    position: relative;
    width: 100%;

    .icon {
      background-color: white;
      border-radius: 100%;
      box-shadow: 0px 3px 35px -15px rgba(0, 0, 0, 0.9);
      color: #2e87d6;
      font-size: 15px;
      padding: 18px;
      position: absolute;
      height: 70px;
      width: 70px;
      bottom: calc(100% - 35px);
      left: calc(50% - 35px);
    }

    &:after {
      content: '';
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #2e87d6;
      left: calc(50% - 8px);
      position: absolute;
      top: 100%;
    }

    h2 {
      font-size: .9em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__body {
    padding: 30px 20px;
  }

  input {
    background-color: #eee;
    border: none;
    border-radius: 40px;
    color: #222;
    font-size: .9em;
    padding: 15px 20px;
    padding-left: 42px;
    transition: all .3s ease;
    width: 100%;

    &::placeholder {
      color: #aaa;
    }
  }

  button {
    appearance: none;
    -webkit-appearance: none;
    background-color: #2e87d6;
    border: none;
    border-bottom: 2px solid darken(#2e87d6, 10%);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 20px;
    transition: background-color .3s ease;
    width: 100%;

    &:hover {
      background-color: lighten(#2e87d6, 5%);
    }

    &:active {
      background-color: darken(#2e87d6, 5%);
    }
  }

  &.fade-enter {
    opacity: 0;
    transform: translateY(200px);

    .credentials-form__header {
      .icon {
        transform: translateY(-350px);
      }
    }
  }
  
  &.fade-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all .5s .5s ease;

    .credentials-form__header {
      .icon {
        transform: translateY(0px);
        transition: transform .5s .5s ease;
      }
    }
  }
  
  &.fade-exit {
    opacity: 1;
    transform: translateY(0px);

    .credentials-form__header {
      .icon {
        transform: translateY(0px);
      }
    }
  }
  
  &.fade-exit-active {
    opacity: 0;
    transform: translateY(200px);
    transition: all .5s ease;

    .credentials-form__header {
      .icon {
        transform: translateY(-350px);
        transition: transform .5s ease;
      }
    }
  }
}

.form-field {
  margin-top: 10px;
  position: relative;
  width: 100%;

  &:first-child {
    margin-top: 0px;
  }

  .icon {
    color: rgba(0,0,0,0.4);
    font-size: 18px;
    left: 14px;
    opacity: .8;
    position: absolute;
    top: calc(50% - 9px);
  }
}